* {
  margin: 0;
  padding: 0;
}
body {
  margin: 0 15px;
  width: 100vw; 
  text-align: center; 
  font-size: 15px; 
}
ul {
  list-style: none; 
}

.app-container {
  width: 100%; 
  padding: 5%; 
  margin: 0 auto; 
}

header {
  text-align: center; 
}

section {
  margin: 2% auto; 
}

/** MEDIA QUERIES */

@media screen and (min-width: 768px) {
  body {
    text-align: left; 
  }
  header {
    margin-bottom: 5%; 
  }
  li {
    list-style: square;
  }
}